<div id="landing-sidebar" class="animated">
  <ul *ngFor="let item of sidebarItems">
    <li [ngClass]="item.disabled ? 'sub-menu-active' : ''">
      <a *ngIf="item.children.length==0" routerLinkActive="active" href={{item.route}} (click)="item.disabled = !item.disabled">
        <!-- <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div> -->
        {{item.name}}
        <div class="arrow-img" *ngIf="item.children.length>0">
          <img src="/assets/icons/arrow-right-white.svg" alt="" *ngIf="!item.disabled">
          <img src="/assets/icons/arrow-down-white.svg" alt="" *ngIf="item.disabled">
        </div>
      </a>
      <a *ngIf="item.children.length>0" (click)="item.disabled = !item.disabled">
        <!-- <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div> -->
        {{item.name}}
        <div class="arrow-img" *ngIf="item.children.length>0">
          <img src="/assets/icons/arrow-right-white.svg" alt="" *ngIf="!item.disabled">
          <img src="/assets/icons/arrow-down-white.svg" alt="" *ngIf="item.disabled">
        </div>
      </a>
    </li>
    <div *ngIf="item.children.length>0 && item.disabled">
      <ul class="sub-menu" *ngFor="let child of item.children">
          <li>
            <a routerLinkActive="active" href={{child.route}}>
              {{child.name}}
            </a>
              <div class="arrow-img" *ngIf="child.children.length>0">
                <img src="/assets/icons/arrow-right-white.svg" alt="" *ngIf="!child.disabled">
                <img src="/assets/icons/arrow-down-white.svg" alt="" *ngIf="child.disabled">
              </div>
          </li>
        </ul>
    </div>
  </ul>
</div>