@import 'src/assets/scss/index.scss';


.landing-portal-content {
    height: calc(100vh - #{$header-size});
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100% - 200px);
    float: right;
    background-color: $heading-background;
    transition: all 0.5s;
  }
.viewOpen  { 
    width: 100%;   
  }

.text-black { color:$color-black}

.fs-30 { font-size:$fontsize-30;}
.dark-grey-bg {    background-color: $heading-background; }