<div class="">
    <div class="container-fluid px-0 ">
        <div class="row mx-0 ">
            <div class="col-md-12 col-lg-8 col-xl-9 px-0">
                <img src="assets/images/login-bg.jpg" alt=""
                    class="img-fluid custom-min-vh-100 " /> </div>
            <div
                class="col-md-12 col-lg-4 col-xl-3 px-5 d-flex align-content-center align-items-center h-100  custom-min-vh-100">
                <div class=" h-100 py-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="fs-24 text-dark mb-1 mt-3 pb-0 ">NG-10 Admin</h2>
                            <p class="fs-14 texd text-dark pb-3"> </p>
                        </div>
                    </div>
                    <form class="" #form="ngForm">
                        <div class="row mb-3">
                            <!--email-->
                            <div class="col-md-12 mb-4">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" class="form-control fs-14" name="email"
                                        id="email" #email="ngModel" [(ngModel)]="user.email" required />
                                </div>
                            </div>
                            <!-- password -->
                            <div class="col-md-12 mb-4">
                                <div class="form-group">
                                    <input type="password" placeholder="Password" class="form-control fs-14"
                                        id="password" #password="ngModel" [(ngModel)]="user.password" name="password"
                                        appNoContainSpace="ngModel" required />
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <button type="button" [disabled]="form.invalid"
                                        class="btn btn-primary  px-3 mx-1 py-2 w-100 fs-14 mb-2 mb-2"
                                         (click)="login()">Login</button>
                                </div>
                            </div>
                            <!-- <div class="col-md-12 mb-4 d-flex fs-14" *ngIf="message !== ''">
                                <div class="form-group">
                                    <p class=" text alert text-red font-weight-bold">{{message}}</p>
                                </div>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>