@import "src/assets/scss/index.scss";


body { font-size: 14px; font-weight:400; font-family: Arial, sans-serif !important }
.animated {  animation-duration: 500ms;}


a { text-decoration:none; color:#a6a6a6 !important }
a:hover { text-decoration:none !important; color:#873e8d !important; cursor: pointer; }
a.active{ text-decoration:none !important; color:#873e8d !important }









